<launch>
  <arg name="map_file" default="$(find colibri_pathfinding)/maps/818floor_mdf"/>
  <!-- <node pkg="colibri_pathfinding" type="fp_srv_node" name="fp_node" output="screen" args="$(arg map_file)" args="$(arg map_file)" launch-prefix= "xterm -e gdb -args" > -->
  <node pkg="colibri_pathfinding" type="fp_srv_node" name="fp_node" output="screen" args="$(arg map_file)" >
    <rosparam file="$(find colibri_pathfinding)/maps/818floor_mdf.yaml" command="load"/>
  </node>
  
</launch>
